SUPABASE_URL=https://kqhhscjatrodmtprccce.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtxaGhzY2phdHJvZG10cHJjY2NlIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODQ2MDkzMywiZXhwIjoyMDk0MDM2OTMzfQ.YGVsYOa5zz99mDhsGJJkYbg-Z0VuPqhQAEYUUxBUcqM

ADMIN_WALLETS=0x8540784B5FCcEb3045d1bc1f74919C7c41C12Fd6

OG_CHAIN_ID=16602
OG_RPC_URL=https://evmrpc-testnet.0g.ai
OG_STORAGE_INDEXER=https://indexer-storage-testnet-turbo.0g.ai
OG_COMPUTE_BROKER=https://your-compute-broker-endpoint
OG_STORAGE_NODE=https://indexer-storage-testnet-turbo.0g.ai
OG_PRIVATE_KEY=0x_your_0g_wallet_private_key

AI_MODEL=Qwen2.5-0.5B-Instruct
